.Banner_text{
   top: 50%;
   left:40%;
   /* transform: translate(-50%,-50%); */
}
/* .Banner{
    height:40px !important;
} */
/* .Banner1{
    height: 512px;
} */
@media screen and (max-width:640px) {
    .Banner_text{
   transform: translate(-50%,-50%);

   /* font-size: 24px; */
    }
    .client{
        height: 100vh;
        min-height: fit-content;
    }
    
    .banner{
        height:"50vh"
    }
}


#Banner{
    height: 10vh;
}