.Banner_text{
   top: 50%;
   left:40%;
   /* transform: translate(-50%,-50%); */
}
/* .Banner{
    height:40px !important;
} */

@media screen and (max-width:640px) {
    .Banner_text{
   transform: translate(-50%,-50%);

   font-size: 24px;
    }
    .client{
        height: 100vh;
        min-height: fit-content;
    }
    
    .banner{
        height:"50vh"
    }
}

